body {
/*	display: flex;
	height: 100vh;*/
	margin: 0;
}

.hero {
	display: flex;
	height: 100vh;
	font-size: 3rem;
	color: #FF5733;
	text-align: center;
	background-color: yellow;
}

h1 {
	margin: auto;
}